@model List<UserMessage>

<div class="col-xl-7">
    <div class="card">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Messages</h3>
                </div>
                <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Messages table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach(var item in Model){
                        <tr>
                            <th scope="row">
                               @item.User.UserName
                            </th>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Description.Substring(0,20)...
                            </td>
                            <td>
                                @item.Date.ToString().Substring(0,10)
                            </td>
                            <td>
                                @item.Status
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>