@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Testimonial>
@{
    var count = 0;
}

<div class="card-header border-0">
    <h3 class="mb-0">Client Testimonials</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="name">Name</th>
                <th scope="col" class="sort" data-sort="completion">Role/Company</th>
                <th scope="col" class="sort" data-sort="completion">Comment</th>
                <th scope="col" class="sort" data-sort="completion">Image</th>

                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TestimonialID</td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        @item.Role / @item.Company
                    </td>
                    <td>
                       @item.Comment
                    </td>
                    <td>
                        <img class="me-md-3 rounded" src="~/Template/images/testimonials/@item.ImageUrl" width="96" height="96" alt="@item.ImageUrl">

                    </td>
                  
                    <td>
                        <a href="/Testimonial/EditTestimonial/@item.TestimonialID" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end m-5"><a href="/Testimonial/AddTestimonial/" class="btn btn-primary btn-lg btn-block" onclick="">Add Testimonial</a></div>

</div>
